@import '../../sass/variables.scss';

.footer {
    color: $color-claro;
    background-color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer img {
    vertical-align: middle;
  }
  
  .footer a {
    color: $color-claro;
  }