@import '../../sass/variables.scss';

.Hero__section {
  width: 100%;
  height: auto;
  padding-top: 50px;
  background-color: #889AAD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
    .Hero__image {
      width: 280px;
      border-radius: 100%;
      border: 7px solid $color-variacion;
    }
    #Hero__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

.IconsHover:hover {
  color: $color-variacion !important;
  transition: .5s;
  cursor: pointer;
}

@media (max-width: 768px){
  .Hero__section {
    height: 500px;
  }
}

@media (max-width: 750px){
  .Hero__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 480px){
  .Hero__title {
    font-size: 26px;
    margin-bottom: 50px;
    text-align: left;
  }
}