@import '../../sass/variables.scss';

.hero {
  height: 400px;
  background-color: #889AAD;
  // background-size: 500px 300px;
  /* background-repeat: no-repeat; */
  // background-position-x: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 7px solid $color-variacion;
  margin-top: 10px;
  
}
.hero-link {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.Icons {
  color: #000;
  cursor: pointer;
  transition: 2s;
}


@keyframes cuadrado {
  5% {
      opacity: 1;
  }
  10% {
      opacity: 0;
  }
}

.Icons:hover {
  color: $color-variacion;
  transition: .3s;
  animation-name: cuadrado;
  animation-duration: .8s;
  // animation-delay: 1s;
  animation-iteration-count: infinite;
  // animation-direction: alternate;
  animation-timing-function: ease;
}