.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }
  .project-description {
    font-size: 20px;
  }
  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  
  .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  
  .project-details {
    width: 50%;
  }
  
  // .project-imageContainer {
  //   width: 50%;
  // }
  
  .project-imageContainer img {
    max-width: 100%;
  }

  .project-image {
    width: 280px;
    background-position:right;
  }

  #count {
    color: #000;
  }

  