@import '../../sass/variables.scss';

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 5px 0;
  }
  .project-description {
    padding-top: 10px;
    font-size: 20px;
  }
  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  
  .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .btn-outline-dark:hover {
    background-color: $color-variacion;
  }
  
  
  .project-details {
    width: 50%;
  }
  
  .project-imageContainer img {
    width: 100%;
    max-width: 500px;
    margin-left: 10px;
  }

  .image-mobile {
    width: 250px !important;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px $color-variacion;
  }

  .project-image {
    width: 300px;
    background-position: right;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px $color-variacion;
    transition: .2s;
  }

  .project-image:hover {
    box-shadow: 0px 0px 3px 3px $color-variacion;
    transition: .2s;
  }
  .image-mobile:hover {
    box-shadow: 0px 0px 3px 3px $color-variacion;
    transition: .2s;
  }

  #count {
    color: #000;
  }

  