@import '../../sass/variables.scss';

.list-group {
  position: fixed;
  z-index: 3;
  width: 200px;
  height: auto;
  margin-left: 10px;
  
  .list-group-item {
    background: rgba(78, 78, 78, 0.233) !important;
    border: none !important;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .list-group-item a {
    color: $color-variacion;
  }
}

.toast {
  background-color: #ececec00;
  border: none;
  box-shadow: none;
}

.toast-header {
  border: none;
  background-color: #ececec00;
  color: red !important;
  position:fixed;
  left: 200px;
  z-index: 5;
}
